body {
    display: flex;
    justify-content: center;
}

#main-container {
    height: 420px;
    width: 300px;
    background-color: darkgray;
    display:flex;
    align-items: center;
    flex-direction: column;
    padding-top: 40px;
    gap: 50px;
    
}

#display {
    width: 250px;
    height: 70px;
    background-color: darkslategrey;
    display:flex;
    justify-content: flex-start;
    align-items: center;
}

#display-text {
    color: lightgray;
}

#operators {
    
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#operators-digits {
    display: flex;
    gap: 10px;
    align-items: center;
    
    
}

#digit-container {
    display: flex;
    flex-direction: column;
    gap: 20px;

}

.button {
    height: 50px;
    width: 50px;
}

.digits {
    display: flex;
    gap: 20px;
}