body {
    max-height: 100vh;
    display: flex;
    justify-content: center;
    margin: 0%;
}

#main-container {

    height: 700px;
    width: 400px;
    background-color: darkgray;
    display:flex;
    align-items: center;
    flex-direction: column;
    
    padding-top: 40px;
    
    
}

#display {
    width: 350px;
    height: 120px;
    background-color: darkslategrey;
    display:flex;
    justify-content: flex-start;
    align-items: center;

    margin-bottom: 40px;
}

#display-text {
    color: rgb(16, 28, 28);
    font-family: "DotGothic16", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 80px;
    margin: 0%;
}

#operators {
    
    display: flex;
    flex-direction: column;
    gap: 25px;
    
    
    
}

#operators-digits {
    display: flex;
    gap: 30px;
    
    flex: auto;
    justify-content: space-between;


    
    
}

#digit-container {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    gap: 50px;
    flex: auto;
    margin-left: 20px;

}

.button {
    height: 60px;
    width: 60px;
    font-size: 50px;
    text-align: center;
    padding: 0px;
    background-color: darkgray;
    border-style: none;
    
}

.digits {
    display: flex;
    gap: 40px;
}
.button:active {
    box-shadow: 10px 10px 15px rgb(176, 176, 176);
}